.card {
  background-color: #EDEDED;
  left: 50%;
  top: 50%;
  position: fixed;
  transform: translate(-50%, -55%); /* fixes offset to truly be center*/
  width: 300px;
  height: 500px;
  border-radius: 60px;
  border: 2px solid;
  padding: 10px;
  border-color: #000000;
  border-width: medium;
  display: inline-flex; /*make us of Flexbox*/
  justify-content: center;
  align-items: center; /*does vertically center the desired content*/
  justify-content: center; /*horizontally centers single line items*/
  text-align: center; /*optional, but helps horizontally
            s             center text that breaks into multiple lines*/
}

.image {
  content: url(
    https://images-ext-2.discordapp.net/external/n19nkKSB_aVDznY0edHDMjtxZcwpz8pueiHf6txV3F4/https/i.ebayimg.com/images/g/w9UAAOSwlyJeZClC/s-l300.jpg
  );
  left: 0%;
  top: 60%;
  transform: translate(-25%, -90%);
  width: 300px;
  height: 150px;
  overflow: hidden;
  display: block;
}

#leftarrow {
  width: 48px;
  height: 500px;
  margin-top: 5%;
  margin-left: 35%;
  float:left;
}

#rightarrow {
  width: 48px;
  height: 500px;
  margin-top: 5%;
  margin-right: 35%;
  float:right;
}

#SparkPlug {
    width: 100px;
    height: 100px;
    margin-top: -250%;
    margin-left: 100%;
}
